@page "/"

<PageTitle>СВТ Конвертер</PageTitle>

<h1>Конвертер ставок для СВТ</h1>

Конвертер предназаначен для конвертации excel шаблонов со ставками,
полученных из разных источников, в формат загрузчика СВТ
