@page "/NkhtkRates"
@inherits Rates

<PageTitle>СВТ Конвертер: Ставки НХТК</PageTitle>

<h1>Ставки НХТК</h1>

<EditForm EditContext="@EditContext" OnSubmit="@HandleConvert">
    <DataAnnotationsValidator/>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <SvtInputSelect Title="Шаблон НХТК"
                                Items="Model.TemplateItems"
                                Value="Model.TemplateId"
                                ValueChanged="TemplateValueChanged"
                                Required="Model.Submitted"
                                Disabled="Model.Loading"/>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <SvtInputSelect Title="Имя вкладки шаблона НХТК"
                                Items="Model.TemplateWorksheetItems"
                                @bind-Value="Model.TemplateWorksheetId"
                                Required="Model.Submitted"
                                Disabled="@(Model.Loading || Model.TemplateId == 0)"/>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <SvtInputFile Title="Excel файл шаблона НХТК"
                              FileChanged="async f => await LoadFileAsync(f)"
                              Required="Model.Submitted"
                              Disabled="Model.Loading"/>
            </div>
            <div class="col-6">
                <SvtInputSelect Title="Имя вкладки загруженного excel файла"
                                Items="Model.ExcelWorksheetNames"
                                @bind-Value="Model.ExcelWorksheetIndex"
                                Required="Model.Submitted"
                                Disabled="Model.Loading"/>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <SvtInputDate Title="Период действия с"
                              Value="Model.StartDate"
                              ValueChanged="StartDateValueChanged"
                              Required="Model.Submitted"
                              Disabled="Model.Loading"/>
            </div>
            <div class="col-6">
                <SvtInputDate Title="Период действия по"
                              Value="Model.EndDate"
                              ValueChanged="EndDateValueChanged"
                              Required="Model.Submitted"
                              Disabled="Model.Loading"/>
            </div>
        </div>

        <FileConvertSubmit Disabled="Model.Loading"/>

        <InfoPanel Info="@Model.Info"/>
       
    </div>
</EditForm>