
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href=""><img src="images/logo.png" alt="Сибур СВТ" /></a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Главная
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="NkhtkRates">
                <span class="oi oi-list-rich" aria-hidden="true"></span> НХТК Ставки
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="MultiModalRates">
                <span class="oi oi-list-rich" aria-hidden="true"></span> ММ Ставки
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="MultiModalSpecialRates">
                <span class="oi oi-list-rich" aria-hidden="true"></span> ММ Спец. Ставки
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool _collapseNavMenu = true;

    private string? NavMenuCssClass => _collapseNavMenu ? "collapse" : String.Empty;

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }
}

