root = true
# http://editorconfig.org


[*]
charset = utf-8
end_of_line = crlf
max_line_length = 180
insert_final_newline = false
trim_trailing_whitespace = true

# Microsoft .NET properties

dotnet_style_operator_placement_when_wrapping = beginning_of_line
tab_width = 4
indent_size = 4
dotnet_style_coalesce_expression = true:suggestion
dotnet_style_null_propagation = true:suggestion
dotnet_style_prefer_is_null_check_over_reference_equality_method = true:suggestion
dotnet_style_prefer_auto_properties = true:silent
dotnet_style_object_initializer = true:warning
dotnet_style_collection_initializer = true:warning
dotnet_style_prefer_simplified_boolean_expressions = true:suggestion

[*.{js,json,jsx,jade,rb,sh,xml,config,html,css,csproj,props,targets}]
indent_style = space
indent_size = 2

[*.csproj]
# Look here for clarification https://www.jetbrains.com/help/resharper/EditorConfig_XML_XmlCodeStylePageSchema.html
xml_space_before_self_closing = true
# The next is made for Rider as it doesn't support resharper properties https://youtrack.jetbrains.com/issue/RIDER-25867
xml_space_inside_empty_tag = true

[*.cs]
indent_style = space
indent_size = 4

csharp_indent_block_contents = true
csharp_indent_braces = false
csharp_indent_case_contents = true
csharp_indent_switch_labels = true
csharp_new_line_before_catch = true
csharp_new_line_before_else = true
csharp_new_line_before_finally = true
csharp_new_line_before_members_in_anonymous_types = true
csharp_new_line_before_members_in_object_initializers = true
csharp_new_line_before_open_brace = all
csharp_prefer_braces = true:warning
csharp_prefer_simple_default_expression = true:warning
csharp_space_after_cast = false
csharp_space_after_colon_in_inheritance_clause = true
csharp_space_after_comma = true
csharp_space_after_dot = false
csharp_space_after_keywords_in_control_flow_statements = true
csharp_space_after_semicolon_in_for_statement = true
csharp_space_around_binary_operators = before_and_after
csharp_space_around_declaration_statements = do_not_ignore
csharp_space_before_colon_in_inheritance_clause = true
csharp_space_before_comma = false
csharp_space_before_dot = false
csharp_space_before_open_square_brackets = false
csharp_space_before_semicolon_in_for_statement = false
csharp_space_between_empty_square_brackets = false
csharp_space_between_method_call_empty_parameter_list_parentheses = false
csharp_space_between_method_call_name_and_opening_parenthesis = false
csharp_space_between_method_call_parameter_list_parentheses = false
csharp_space_between_method_declaration_empty_parameter_list_parentheses = false
csharp_space_between_method_declaration_name_and_open_parenthesis = false
csharp_space_between_method_declaration_parameter_list_parentheses = false
csharp_space_between_parentheses = none
csharp_space_between_square_brackets = false
csharp_style_conditional_delegate_call = true:warning
csharp_style_expression_bodied_accessors = when_on_single_line:warning
csharp_style_expression_bodied_indexers = when_on_single_line:warning
csharp_style_expression_bodied_methods = when_on_single_line:warning
csharp_style_expression_bodied_operators = when_on_single_line:warning
csharp_style_expression_bodied_properties = when_on_single_line:warning
csharp_style_inlined_variable_declaration = true:warning
csharp_style_pattern_matching_over_as_with_null_check = true:warning
csharp_style_pattern_matching_over_is_with_cast_check = true:warning
csharp_style_throw_expression = true:warning
csharp_style_var_when_type_is_apparent = true:suggestion
csharp_style_var_elsewhere = true:suggestion
csharp_style_var_for_built_in_types = true:suggestion
csharp_place_attribute_on_same_line = never
csharp_max_initializer_elements_on_line = 1
csharp_max_array_initializer_elements_on_line = 1
csharp_wrap_array_initializer_style = chop_if_long
csharp_place_simple_initializer_on_single_line = true
csharp_prefer_simple_using_statement = true:warning
csharp_preserve_single_line_statements = false ;
csharp_style_prefer_index_operator = true:warning
csharp_style_prefer_range_operator = true:warning
csharp_style_deconstructed_variable_declaration = true:warning
csharp_style_prefer_switch_expression = true:warning


resharper_space_within_single_line_array_initializer_braces = true

dotnet_code_quality_unused_parameters = all:error
dotnet_style_require_accessibility_modifiers = always
dotnet_style_object_initializer = true:warning
dotnet_style_collection_initializer = true:warning
dotnet_style_prefer_conditional_expression_over_assignment = true:suggestion

xmldoc_indent_text = remove_indent

###############################
# Built in  Inspections       #
###############################
# see  https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/categories for details
dotnet_analyzer_diagnostic.category-usage.severity = warning
dotnet_analyzer_diagnostic.category-performance.severity = error
dotnet_analyzer_diagnostic.category-reliability.severity = error

# Lowered severity for low impact inspections
# CA1822: Mark members as static
dotnet_diagnostic.ca1822.severity = suggestion
# CA2211: Non-constant fields should not be visible
dotnet_diagnostic.ca2211.severity = suggestion
# CA1848: Logging performance optimization suggestion
dotnet_diagnostic.ca1848.severity = suggestion

###############################
# Reliability Inspections     #
###############################

# VSTHRD002 Avoid problematic synchronous waits
dotnet_diagnostic.vsthrd002.severity = error

# VSTHRD011 Use AsyncLazy<T>
dotnet_diagnostic.vsthrd011.severity = error

# VSTHRD100 Avoid async void methods
dotnet_diagnostic.vsthrd100.severity = error

# VSTHRD101 Avoid unsupported async delegates
dotnet_diagnostic.vsthrd101.severity = error

# VSTHRD102 Implement internal logic asynchronously
dotnet_diagnostic.vsthrd102.severity = error

# VSTHRD103 Call async methods when in an async method
dotnet_diagnostic.vsthrd103.severity = error

# VSTHRD110 Observe result of async calls
dotnet_diagnostic.vsthrd110.severity = error

# VSTHRD111 Use .ConfigureAwait(bool)
dotnet_diagnostic.vsthrd111.severity = error

# VSTHRD112 Implement System.IAsyncDisposable
dotnet_diagnostic.vsthrd112.severity = error

# VSTHRD200 Use Async suffix for async methods
dotnet_diagnostic.vsthrd200.severity = none
csharp_indent_labels = one_less_than_current
csharp_using_directive_placement = outside_namespace:silent
csharp_style_namespace_declarations = file_scoped:silent
csharp_style_expression_bodied_constructors = false:silent
csharp_style_expression_bodied_lambdas = true:silent
csharp_style_expression_bodied_local_functions = false:silent

[*.{cs,vb}]
#### Naming styles ####

# Naming rules

dotnet_naming_rule.interface_should_be_begins_with_i.severity = suggestion
dotnet_naming_rule.interface_should_be_begins_with_i.symbols = interface
dotnet_naming_rule.interface_should_be_begins_with_i.style = begins_with_i

dotnet_naming_rule.types_should_be_pascal_case.severity = suggestion
dotnet_naming_rule.types_should_be_pascal_case.symbols = types
dotnet_naming_rule.types_should_be_pascal_case.style = pascal_case

dotnet_naming_rule.non_field_members_should_be_pascal_case.severity = suggestion
dotnet_naming_rule.non_field_members_should_be_pascal_case.symbols = non_field_members
dotnet_naming_rule.non_field_members_should_be_pascal_case.style = pascal_case

# Symbol specifications

dotnet_naming_symbols.interface.applicable_kinds = interface
dotnet_naming_symbols.interface.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.interface.required_modifiers = 

dotnet_naming_symbols.types.applicable_kinds = class, struct, interface, enum
dotnet_naming_symbols.types.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.types.required_modifiers = 

dotnet_naming_symbols.non_field_members.applicable_kinds = property, event, method
dotnet_naming_symbols.non_field_members.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.non_field_members.required_modifiers = 

# Naming styles

dotnet_naming_style.begins_with_i.required_prefix = I
dotnet_naming_style.begins_with_i.required_suffix = 
dotnet_naming_style.begins_with_i.word_separator = 
dotnet_naming_style.begins_with_i.capitalization = pascal_case

dotnet_naming_style.pascal_case.required_prefix = 
dotnet_naming_style.pascal_case.required_suffix = 
dotnet_naming_style.pascal_case.word_separator = 
dotnet_naming_style.pascal_case.capitalization = pascal_case

dotnet_naming_style.pascal_case.required_prefix = 
dotnet_naming_style.pascal_case.required_suffix = 
dotnet_naming_style.pascal_case.word_separator = 
dotnet_naming_style.pascal_case.capitalization = pascal_case
dotnet_style_prefer_inferred_tuple_names = true:suggestion
dotnet_style_prefer_inferred_anonymous_type_member_names = true:suggestion
dotnet_style_namespace_match_folder = true:suggestion
