@page "/calc"
@rendermode InteractiveServer

<PageTitle>Расчет ставок</PageTitle>

<h1>Расчет ставок</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
