@page "/calc"
@rendermode InteractiveServer

<PageTitle>Расчет ставок</PageTitle>

<h1>Расчет ставок</h1>


<button class="@BtnClass" @onclick="(async () => await IncrementCount())">
    Отправить ставки на расчет
 </button>

<p class="p-4">
    Статус отправки: @_currentCount%
 </p>
