@page "/"

<PageTitle>Home</PageTitle>

<h1>Распределенный расчет ставок</h1>

<p>Добро пожаловать в демонстрационное микросервисное приложение для расчета ставок.</p>
<p>На странице  <NavLink href="calc">расчет ставок</NavLink> вы можете отправить ставки в микросервис расчета ставок через Kafka для последующего получения результатов расчета и сохранения в Postgre</p>
<p>На странице  <NavLink href="rates">справочник ставок</NavLink> вы можете увидеть актуальные ставки, сохраненные в Postgre</p>
